@import './font.css';

.container{
    width: 100%;
    height: 500px;
    font-family: 'NunitoSans';
    justify-content: center;
    font-size: 60px;
}
.divp{
    margin-top: 200px;
    justify-content: center;
}
.pskill{
    margin-left: 46%;
}


.underline {
    border-bottom: 5px solid #6C6C6C; 
    width: 86%; 
    margin-top: 1%;
    margin-left: 7%;
  }
.skillsimg{
    margin-left: 31.5%;
    margin-top: 100px;
}