@import './font.css';

.divcon {
    width: 100%;
    font-family: 'NunitoSans';
    height: 1000px;
}

.divtopic{
    width: 100%;
}
.htopic{
    font-size: 50px;
    margin-left: 33%;
    margin-top: 5%;
}

.underline {
    border-bottom: 5px solid #6C6C6C; 
    width: 85%; 
    margin-left: 7.5%;
    margin-top: 1%;
  }
  .workex{
    width: 60%;
    margin-left: 25%;
  }

  .divpex1{
    width: 100%;
  }

  .pex1_1{
    margin-left: 50px;
  }
  .pex1_2{
    margin-left: 30px;
    margin-top: 10px;
  }
  .pex1_3{
    margin-left: 250px;
    margin-top: 10px;
  }

  .pex1_4{
    margin-left: 50px;
    margin-top: 10px;
  }
  .pex1_5{
    margin-left: 70px;
  }
  .pex1_6{
    margin-left: 120px;
    margin-top: 10px;
  }

  .pex1_7{
    margin-left: 80px;
    margin-top: 10px;
  }
  .pex1_8{
    margin-left: 180px;
    margin-top: 10px;
  }
  .img{
    margin-top: 100px;
  }

  .portbut{
    margin-top: 250px;
    margin-left: 26%;
    border-radius: 40px;
    width: 50%;
    height: 100px;
    background-color: white;
    font-size: 60px;
    border: 1px solid gray;
  }

  .portbut:hover {
    background: #D0E3FF;
    border: 1px solid #D0E3FF;
    color: #ffff;
  }

  .pex1_1,
  .pex1_2,
  .pex1_3,
  .pex1_4,
  .pex1_5,
  .pex1_6,
  .pex1_7,
  .pex1_8 {
    transition: box-shadow 1s ease;
  }

  .pex1_1:hover,
.pex1_2:hover,
.pex1_3:hover,
.pex1_4:hover,
.pex1_5:hover,
.pex1_6:hover,
.pex1_7:hover,
.pex1_8:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
