@import './font.css';

.divcon {
    width: 100%;
    font-family: 'NunitoSans';
    height: 700px;
}

.divtopic{
    width: 100%;
}
.htopic{
    font-size: 50px;
    margin-left: 33%;
    margin-top: 5%;
}

.underline {
    border-bottom: 5px solid #6C6C6C; 
    width: 85%; 
    margin-left: 7.5%;
    margin-top: 1%;
  }
  .workex{
    width: 60%;
    margin-left: 25%;
  }

  .divpex1{
    width: 80%;
    text-align: center;
    margin-left: 2%;
  }

  .p_workex {
    transition: text-shadow 0.3s ease-in-out; 
  }
  
  .p_workex:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* เพิ่มเงาให้กับตัวอักษร */
  }


  .img{
    margin-top: 50px;
  }

  .portbut{
    margin-top: 250px;
    margin-left: 26%;
    border-radius: 40px;
    width: 50%;
    height: 100px;
    background-color: white;
    font-size: 60px;
    border: 1px solid gray;
  }

  .portbut:hover {
    background: #D0E3FF;
    border: 1px solid #D0E3FF;
    color: #ffff;
  }


