@import './font.css';

.main{
    height: 1000px;
    width: 100%;
    margin-top: 20%;
}
.choice{
  display: flex;
  font-family: 'NunitoSans';
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 20%;
}

.selectchoice {
  max-width: 20%;
  margin-left: 5%;
}

.web1img,.web2img,.web3img{
    width: 100%;
    transition: box-shadow 0.3s ease;
    border-radius: 30px;
}


.web1img:hover {
    box-shadow: 0 20px 15px rgba(201, 159, 60, 0.4);
  }
  .web2img:hover{
    box-shadow: 0 20px 15px rgba(207, 168, 11, 0.4);
  }
  .web3img:hover{
    box-shadow: 0 20px 15px rgba(8, 0, 8, 0.4);
  }

  .pweb{
    font-size: 20px;
    font-family: 'NunitoSans';
    font-weight: 600;
    text-align: center;
  }

  @media (max-width: 768px) {
    
    .main{
      height: 75vh;
  }
    .choice {
      margin-top: 30%;
      font-size: 16px;
      display: grid;
    }

    .selectchoice{
      max-width: 40%;
      margin: 0 30%;
      margin-top: 5%;
    }
  
    .app1img,
    .app2img,
    .app3img {
      width: 100%;
    }

  }
  