.buble1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  }

  .buble2 {
    position: absolute;
    z-index: -1;
    margin-left: 85%;
    margin-top: -150px;
    }

    .buble3{
      margin-top: 600px;
    }